.fa-book-open-reader{
    color: #0314fc;
    font-size:25px;
  }
  .studentname{
    color: #0314fc;
  }
  .usericon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .opensettings{
    position: absolute;
    width:80px;
    height:100px;
    background-color: #828282d1;
    top:48px;
  }
  .arrow{
    width: 22px;
    height: 22px;
    border-radius: 50%;
  }
.bodysidebar{
  background-color: #f5f5f5;
}
@media  screen and  (max-width: 1030px){
  .fa-book-open-reader{
    font-size:20px;
  }
}
@media  screen and  (max-width:400px){
  .usericon{
    display: none;
  }
}