.construction{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
}
.textundercondtruction{
    text-align: center;
    margin: 0;
    margin-top: 10px;
}
.Underconstruction{
    margin-bottom: 40px;
    height: 70vh;
    width: 65%;
}